.login-bg {
    background: url(../images/login-bg.png) no-repeat #1b1d1a;
    background-size: 100% 100%;
}

.no-padding {
    padding: 0;
}

/*======================= login-form ==============*/

.login-form {
    max-width: 937px;
    margin: 0 auto;
    color: #ffffff;
    padding: 8px 0;
    form {
        display: flex;
        align-items: center;
    }
    input {
        width: 150px;
        border: none;
        background: #161615;
        height: 25px;
        margin-left: 5px;
    }
    .capta {
        width: 80px;
    }
    label {
        font-size: 13px;
        text-transform: uppercase;

    }
    button {
        background: url(../images/submit.png) no-repeat;
        background-size: 100% 100%;
        text-transform: uppercase;
        border: none;
        width: 89px;
        height: 39px;
        font-size: 10px;
        margin-left: 50px;
    }

}

/*======================= banner ==============*/

.banner {
    img {
        width: 100%;
    }
}

.main-header {
    position: relative;
    z-index: 5;
}

body {
    background: #2b2b2b;
}

main {

    margin-top: -11%;
}

@media (min-width:1920px) {
    main {
        margin-top: -9%;
    }
}


/*======================= left-aside ==============*/

.left-aside {
    background: url(../images/left-aside.png) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 70px;
    padding-top: 72px;
    .widget {
        padding-top: 35px;
    }
    .widget-1 {
        padding-left: 50px;
        ul {
            background: url(../images/arrow.png) no-repeat;
            background-size: auto 100%;
            list-style: none;
            padding-top: 45px;
            padding-bottom: 45px;
            padding-left: 0;
            li {
                margin-bottom: 3px;
                a {
                    color: #596262;
                    text-transform: uppercase;
                    padding: 0 53px;
                    text-decoration: none;
                    &:hover {
                        background: url(../images/hover-2.png) no-repeat center;
                        background-size: 100% auto;
                        position: relative;
                        display: inline-block;

                        &:before {
                            content: "";
                            background: url(../images/hover-1.png) no-repeat;
                            background-size: 100% 100%;
                            height: 28px;
                            width: 39px;
                            position: absolute;
                            left: 0;
                            top: -3px;
                        }
                    }
                }
            }
        }
    }
    .widget-2 {
        padding-left: 40px;
        position: relative;
        height: 327px;
        padding-top: 110px;
        max-width: 322px;
        &:after {
            position: absolute;
            content: "";
            background: url(../images/social-bg.png) no-repeat;
            background-size: 100% 100%;
            width: 315px;
            height: 327px;
            top: 0;
            left: 6px;
            z-index: 3;
        }
        .z-index {
            position: relative;
            z-index: 4;
        }
        h3 {
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            font-size: 15px;
            margin-bottom: 15px;
        }
        ul {
            padding-left: 38px;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                margin: 0 2px;
            }
        }
    }
    .widget-3 {
        padding-left: 40px;
        .z-index {
            background: url(../images/list.png) no-repeat;
            background-size: 100% 100%;
            padding-top: 24px;
            padding-bottom: 10px;
        }
        h3 {
            margin: 0;
            text-align: center;
            font-size: 16px;
            color: #fff;
            margin-bottom: 17px;
        }
        ul {
            padding: 0 40px;
            list-style: none;
            li {
                padding: 15px 0;
                border-top: 1px solid #161714;
                padding-top: 10px;
                a {
                    color: #595959;
                    font-size: 11px;
                }
                p {
                    font-size: 10px;
                    margin: 0;
                    color: #858585;
                    date {
                        float: right;
                    }
                }
            }
        }
    }
}

/*======================= main-bg ==============*/

.main-bg {
    padding: 0 20px;
    padding-bottom: 90px;
    position: relative;
    padding-top: 160px;
    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 107%;
        background: url(../images/main-bg.png) no-repeat;
        background-size: 100% 100%;
        left: -4%;
        top: 0;
        z-index: 1;
    }
    .item {
        position: relative;
        z-index: 2;
    }
    a.title {
        color: #3f5270;
        font-size: 16px;
        border-bottom: 2px solid #0a0a0a;
        display: block;
        padding: 5px 30px;
    }
    .img {
        width: 30%;
        padding: 15px 0;
        img {
            width: 100%;
        }
    }
    .text {
        width: 70%;
        padding: 15px;
        color: #242523;
        p {
            color: #878c8c;
        }
        a {
            color: #242523;
            position: relative;
            z-index: 3;
        }
    }
}

/*======================= right-aside ==============*/

.right-aside {
    position: relative;
    padding-top: 110px;
    padding-bottom: 85px;
    &:before {
        content: "";
        background: url(../images/right-widget.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        width: 116%;
        height: 100%;
        left: -16%;
        top: 10px;
    }
    .widget {
        padding-top: 40px;
        position: relative;
        z-index: 3;
    }
    .widget-1 {
        h3 {
            font-size: 12px;
            color: #8cafaf;
            text-align: center;
            display: inline-block;
            position: relative;
            margin: 0;
            left: -15px;
            text-transform: uppercase;
            span {
                z-index: 2;
                position: relative;
            }
            &:before {
                background: url(../images/title.png) no-repeat;
                background-size: auto auto;
                background-size: 100% 100%;
                content: "";
                height: 65px;
                width: 153%;
                position: absolute;
                left: -28%;
                top: -25px;
            }
        }
        a.view-more {
            font-size: 12px;
            color: #252a25;
            margin-right: 70px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            padding-top: 58px;
            padding-left: 35px;
            padding-right: 52px;
            li {
                border-top: 2px solid #0d0d0d;
                padding: 5px 0;
                &:last-child {
                    border-bottom: 2px solid #0d0d0d;
                }
                .img {
                    float: left;
                    width: 40%;
                    text-align: center;
                }
                .text {
                    float: left;
                    width: 60%;
                    padding-top: 12px;
                    p {
                        margin: 0;
                        a {
                            color: #b7c2bf;
                        }
                    }
                    div {
                        font-size: 12px;
                        color: #727675;

                    }
                }
            }
        }
    }
    .widget-2 {
        padding-top: 0;
        .reward {
            position: relative;
            left: -56px;
        }
    }
    .widget-3 {
        padding-right: 35px;
        .z-index {
            background: url(../images/list.png) no-repeat;
            background-size: 100% 100%;
            padding-top: 24px;
            padding-bottom: 10px;
        }
        h3 {
            margin: 0;
            text-align: center;
            font-size: 16px;
            color: #fff;
            margin-bottom: 17px;
        }
        ul {
            padding: 0 40px;
            list-style: none;
            li {
                padding: 6px 0;
                border-top: 1px solid #161714;
                a {
                    color: #595959;
                    font-size: 11px;
                }
                p {
                    font-size: 13px;
                    margin: 0;
                    color: #858585;
                    date {
                        float: right;
                    }
                }
            }
        }
    }

}


.main-footer {
    padding: 30px 0;
    padding-top: 0;
    .footer-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            margin-right: 5px;
            a {
                color: #788f95;
                border-right: 1px solid #788f95;
                padding-right: 10px;
            }
            &:last-child {
                a {
                    border: none;
                }
            }
        }
    }
}
